body {
    
    font-family: Copperplate, Papyrus, fantasy;
    background-color: #FDF6EC;
    color: #5D4037;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8D6E63;
    color: #FFFFFF;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #D7CCC8;
    padding: 0;
    margin: 0;
     
}

nav ul li {
    margin: 0 6em;
}
nav li:hover {
    background-color: rgb(212, 218, 102);
    transition: 1s;
}
nav ul li a {
    text-decoration: none;
    color: #5D4037;
    font-weight: bold;
}

#mission, #team {
    margin: 2em;
    padding: 1em;
    background-color: #FFF8E1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(163, 183, 160, 0.6);
}

#team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}



.team-card {
    background-color: #FFF3E0;
    border: 1px solid #D7CCC8;
    border-radius: 8px;
    text-align: center;
    padding: 1em;
    width: 200px;
    box-shadow: 0 5px 15px rgba(163, 183, 160, 0.6);
}

.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.team-card h3 {
    margin: 0.5em 0 0.3em;
    font-size: 1.2em;
    color: #6D4C41;
}

.team-card p {
    font-size: 0.9em;
    color: #5D4037;
}


        #pollenCalender {
            width: 20%;
            float: right;
            padding: 8px;
            margin-bottom: 20px;
            border: 2px solid rgb(99, 147, 87);
            background-color: #FDF6EC;
        }
        /* Styling for the Splide slides */
.splide__slide {
    height: 450px; /* Adjust slide height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFF8E1;
    border: 2px solid #D7CCC8;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for better visibility */
}

/* Adjust the position of the pagination dots */
.splide__pagination {
    margin-top: 30px; /* Push the dots lower */
    text-align: center; /* Center the dots */
}

/* Styling for images inside the slides */
.splide__slide img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Styling for text inside the slides */
.splide__slide p {
    font-size: 18px;
    color: #5D4037;
    text-align: center;
    margin: 5px 0;
}

/* Container adjustments */
#forecastContainer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FDF6EC;
    border: 2px solid #99A88E;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Optional responsive styling for mobile */
@media (max-width: 768px) {
    .splide__slide {
        height: 350px;
    }

    .splide__pagination {
        margin-top: 20px;
    }
}
