body{
    background-color: #357960;
    color: white;
}

nav{
    background-color: rgb(247, 242, 242);
    text-align: center;
}

nav li:hover{
    background-color: rgb(224, 158, 254);

}
nav ul li{
    list-style-type: None;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
#forcastContainer{
    width: 70%;
    float: left;
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid black;
}

#pollenCalender {

    width: 20%;
    float: right;
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid black;
}



